<img class="details-img"
    src="{{imageURL}}" />
<div class="my-3 p-3">
    <h2 class="display-5">{{name}}</h2>
    <p class="infoType">Description:</p>
    <p class="event-description">{{description}}</p>
    <p class="infoType">Date: <small>{{dateTime}}</small></p>
    <p class="infoType">Peope interested in: <small>{{participantsCount}}</small></p>
    <p class="infoType">Organizer: <small>{{author}}</small></p>
</div>